body {
    background-color: #000;
    color: #fff;
    height: 100%;
    letter-spacing: 0;
    margin: 0 auto 100px auto;
    min-height: 500px;
    text-align: center;
    width: 962px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 967px;
}
.col-md-12 {
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 967px;
}
.navbar {
    margin: 5px 0 0 0;
}
.navbar-brand {
    float: none;
    height: 65px;
    cursor: pointer;
}
.btn-gif {
    margin: 5px 10px;
}
.input-group {
    margin-top: 5px;
}
.main {
    margin-top: 10px;
    text-align: left;
    width: 967px;
}
.hoverable-gif {
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 5px 5px 0;
    cursor: pointer;
}
.slug {
    overflow: hidden;
    line-height: 30px;
    max-height: 40px;
    padding: 10px 10px 20px 10px;
    margin: 0;
    opacity: 1;
    left: 0;
    bottom: 4px;
    position: absolute;
    text-transform: none;
    display: inline-block;
}
@media (min-width: 0px) {
    .col-sm-3, .col-md-3, .col-lg-3, .col-md-12 {
        padding: 0;
    }
}
