* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    letter-spacing: 0;
    margin: 0 auto 100px auto;
    min-height: 500px;
    text-align: center;
    width: 962px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 967px;
}
.col-md-12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 967px;
}
#main {
    margin-top: 5px;
    text-align: left;
    width: 967px;
}
.btn-gif {
    margin: 10px;
}
#gif-form {
    margin: 20px 10px;
}
#gifsView {
    display: inline-block;
    width: 100%;
}
